body {
    text-align: center;
    background-color: #f0e8c5;
}

div {
    margin-top: 15px;
}

 img {
    width: 500px;
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    
}

p {
    font-size:30px;
}